.column-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert {
    position: absolute;
    top: 80%;
    left: 27%;
    text-align: center;
    padding: 10px;
    background: #79c879;
    color: #fff;
    margin-bottom: 10px;
    display: none;
    margin-top: 10px;
}

.padd-none {
    padding: 0;
}

.input-rel {
    position: relative;
}

.button-abs {
    position: absolute;
    right: 1%;
    top: 16%;
}