.column-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.marg-none {
    margin: 0;
}

.input-rel {
    position: relative;
}

.button-abs {
    position: absolute;
    right: 0;
    top: 0;
}

.flex-row {
    display: flex;
    justify-content: center;
}