.column-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert {
    text-align: center;
    padding: 10px;
    background: #79c879;
    color: #fff;
    margin-bottom: 10px;
    display: none;
    margin-top: 10px;
}

.padd-none {
    padding: 0;
}